
.welcome{
    background-color: rgb(127, 255, 163);
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;

}

.login{
    background-color: rgb(249, 92, 92);
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;

}